spring:
  datasource:
    url: jdbc:mysql://localhost:3306/order_service
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
